<div class="detail">
  <div *ngIf="detailItem">
    <div class="table">
      <div class="row">
        <label for="entity">Item</label>
        <select name="entity" [ngModel]="detailItem.entityId" (ngModelChange)="updateEntity($event)">
          <option *ngFor="let option of entityList | async" [ngValue]="option.id">{{ option.name }}</option>
        </select>
      </div>
      <div class="row">
        <label for="grams">Mass</label>
        <input class="small" id="grams" name="grams" type="number" step="0.1" min="0"
              [(ngModel)]="detailItem.grams"/>
        <span>g  <i>({{ (detailItem.cacheEntity?.calsPerGram * detailItem.grams).toFixed() }} kCal)</i></span>
      </div>
      <div class="row">
        <label for="recorded">Date</label>
        <input id="recorded" name="recorded" type="datetime-local"
              [ngModel]="detailItem.recorded | date:'yyyy-MM-ddTHH:mm'" 
              (ngModelChange)="detailItem.recorded = $event;"/>
      </div>
  </div>
</div>
