.table {
    border: 1px solid #ddd;
}

.table .row {
    display: flex;
}

.table .row:not(.header):nth-child(2n + 1) {
    background-color: #e5e5e5;
}

.table .row:not(.header):hover {
    background-color: #ccc;
}

.table .header.row {
    font-weight: bold;
    text-align: center;
    background-color: #777;
    color: #fff;
}

.table .row:not(.header) > .cell:not(:first-of-type) {
    border-left: 1px dashed #ccc;
}

.table .row > .cell {
    padding: .5em;
    flex: 25% 1 1;
    cursor: default;
}

.table p {
    margin: 0;
}

.table .loading.cell {
    color: #999;
    text-align: center;
    padding: .5em;
}