h4 {
    text-align: center;
    padding: 2em 0;
}

.table {
    border: 1px solid #ddd;
    margin: auto;
}

.row {
    display: flex;
}

.row:not(.header):nth-child(2n + 1) {
    color: #333;
    background-color: #fff;
}

.row:not(.header):hover {
    color: #fff;
    background-color: rgba(0, 70, 0, .6);
}

.header.row {
    font-weight: bold;
    text-align: center;
    background-color: #777;
    color: #fff;
}

.header.row > .cell {
    position: relative;
    cursor: pointer;
}

.header.row > .cell:hover {
    background-color: #666;
}

.header.row > .cell > span.sort {
    color: #00c000;
    position: absolute;
    right: .5em;
    top: 50%;
    transform: translateY(-50%);
}

.row:not(.header) > .cell:not(:first-of-type) {
    border-left: 1px dashed #ccc;
}

.row > .cell {
    padding: .7em;
    flex: 25% 1 1;
    cursor: default;
}

p {
    margin: 0;
}

.loading.cell {
    color: #006400;
    text-align: center;
    padding: 2em 0;
    background-color: #333;
}

.row > .delete.cell {
    text-align: center;
    flex: 20px 0 0;
}

.delete.cell .fa {
    cursor: pointer;
}

.fa.del:hover {
    color: #c00000;
}

.fa.add:hover {
    color: #00c000;
}