h4 {
    text-align: center;
    padding: 2em 0;
}

.table {
    border: 1px solid #ddd;
    margin: auto;
}

.table .row {
    display: flex;
}

.table .row:not(.header):nth-child(2n + 1) {
    color: #333;
    background-color: #fff;
}

.table .row:not(.header):hover {
    color: #fff;
    background-color: rgba(0, 70, 0, .6);
}

.table .header.row {
    font-weight: bold;
    text-align: center;
    background-color: #777;
    color: #fff;
}

.table .row:not(.header) > .cell:not(:first-of-type) {
    border-left: 1px dashed #ccc;
}

.table .row > .cell {
    padding: .7em;
    flex: 25% 1 1;
    cursor: default;
}

.table p {
    margin: 0;
}

.table .loading.cell {
    color: #006400;
    text-align: center;
    padding: 2em 0;
    background-color: #333;
}

.table .row > .delete.cell {
    text-align: center;
    flex: 20px 0 0;
}

.delete.cell .fa {
    cursor: pointer;
}

.fa.del:hover {
    color: #c00000;
}

.fa.add:hover {
    color: #00c000;
}