<h4 *ngIf="heading">{{ heading }}</h4>

<div class="table" [style.maxWidth]="maxWidth">
  <div class="header row">
    <div class="cell" *ngFor="let column of columns" [style.flexBasis]="column.preferredWidth" (click)="sortBy(column)">
      <p>{{ column.name }}</p>
      <span class="sort fa fa-sort-{{ column.sortMode == 1 ? 'desc' : column.sortMode == 2 ? 'asc' : ''}}"></span>
    </div>
    <div *ngIf="showDelete" class="delete cell">
      <i class="fa fa-plus-square add" (click)="addClicked()"></i>
      <span class="sr-only">Add</span>
    </div>
  </div>

  <div class="row" *ngIf="!(records | async)">
    <div class="loading cell">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="row" *ngIf="(records | async) && (records | async)?.length == 0">
    <div class="cell"><p>No records found :(</p></div>
  </div>

  <div class="row" *ngFor="let record of records | async" (click)="rowClicked(record)">
    <div class="cell" *ngFor="let column of columns" [style.flexBasis]="column.preferredWidth">
      <p>{{ column.getValue(record) }}</p>
    </div>
    <div *ngIf="showDelete" class="delete cell">
      <i class="fa fa-trash-o del" (click)="$event.stopPropagation(); deleteClicked(record)"></i>
      <span class="sr-only">Delete</span>
    </div>
  </div>

  <div class="new row" *ngIf="newRecord" (click)="rowClicked(newRecord)">
    <div class="cell" *ngFor="let column of columns" [style.flexBasis]="column.preferredWidth">
      <p>{{ column.getValue(newRecord) }}</p>
    </div>
    <div class="delete cell">
      <i class="fa fa-trash-o del" (click)="$event.stopPropagation(); newRecord = null"></i>
      <span class="sr-only">Delete</span>
    </div>
  </div>
</div>

<div *ngIf="viewRecord">
  <app-popup heading="Edit Record" (onPopupClosed)="popupClosed()">
    <ng-content></ng-content>
  </app-popup>
</div>