<h4 *ngIf="heading">{{ heading }}</h4>

<div class="table" [style.maxWidth]="maxWidth">
  <div class="header row">
    <div class="cell" *ngFor="let column of columns" [style.flexBasis]="column.preferredWidth">
      <p>{{ column.name }}</p>
    </div>
  </div>

  <div class="row" *ngIf="!(records | async)">
    <div class="loading cell">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="row" *ngIf="(records | async) && records.length">
    <div class="cell"><p>No records found :(</p></div>
  </div>

  <div class="row" *ngFor="let record of records | async" (click)="rowClicked(record)">
    <div class="cell" *ngFor="let column of columns" [style.flexBasis]="column.preferredWidth">
      <p>{{ column.getValue(record) }}</p>
    </div>
  </div>
</div>

<div *ngIf="viewRecord">
  <app-popup heading="Edit Record" (onPopupClosed)="popupClosed()">
    <ng-content></ng-content>
  </app-popup>
</div>