header, footer {
    color: #555;
    background-color: #fff;
    text-align: center;
}

header {
    height: 80px;
}

nav {
    margin-top: .5em;
}

nav a {
    padding: .2em .5em;
    margin: 0 .5em;
}

nav a.active {
    background-color: #006400;
}

footer {
    height: 40px;
    padding: 10px 0 0;
}

section.content {
    min-height: calc(100vh - 130px);
}