<div class="detail">
  <div *ngIf="detailItem">
    <div class="table">
      <div class="row">
        <label for="entity">Item</label>
        <select name="entity" [ngModel]="detailItem.entity.id" (ngModelChange)="updateEntity($event)">
          <option *ngFor="let option of entityList | async" [ngValue]="option.id">{{ option.name }}</option>
        </select>
      </div>
      <div class="row">
        <label for="minutes">Time</label>
        <input class="small" id="minutes" name="minutes" type="number" step="1" min="0"
              [(ngModel)]="detailItem.minutes"/>
        <span>minutes</span>
      </div>
      <div class="row">
        <label for="recorded">Date</label>
        <input id="recorded" name="recorded" type="datetime-local"
              [ngModel]="detailItem.recorded | date:'yyyy-MM-ddTHH:mm'" 
              (ngModelChange)="detailItem.recorded = $event;"/>
      </div>
    </div>
  </div>
</div>
