
<app-date-range-picker
    [offset]="offset"
    [period]="period"
    (onOffsetChanged)="onOffsetChanged($event)"
    (onPeriodChanged)="onPeriodChanged($event)">
</app-date-range-picker>

<h2>{{ periodDescription }}</h2>

<div>
  <canvas baseChart height="400" chartType="line"
          [datasets]="chartDatasets"
          [labels]="chartLabels"
          [options]="chartOptions"
          (chartClick)="chartClicked($event)">
  </canvas>
</div>

<p><b>Exercise Records: {{ (exerciseRecords | async)?.length }}</b></p>
<div *ngFor="let exerciseRecord of exerciseRecords | async">
  <p>{{ exerciseRecord.recorded }}</p>
</div>

<p><b>Food Records: {{ (foodRecords | async)?.length }}</b></p>
<div *ngFor="let foodRecord of foodRecords | async">
  <p>{{ foodRecord.recorded }}</p>
</div>

<p><b>Mass Records: {{ (massRecords | async)?.length }}</b></p>
<div *ngFor="let massRecord of massRecords | async">
  <p>{{ massRecord.recorded }}</p>
</div>
