
<p><b>Exercises: {{ (exercises | async)?.length }}</b></p>
<div *ngFor="let exercise of exercises | async">
  <p>{{ exercise.name }} @ {{ exercise.burnRate }} cal/hr</p>
</div>

<p><b>Food Items: {{ (foodItems | async)?.length }}</b></p>
<div *ngFor="let foodItem of foodItems | async">
  <p>{{ foodItem.name }} @ {{ foodItem.specificCalories }} cal/g</p>
</div>

<hr/>

<p><b>Exercise Records: {{ (exerciseRecords | async)?.length }}</b></p>
<div *ngFor="let exerciseRecord of exerciseRecords | async">
  <p>{{ exerciseRecord.recorded }}</p>
</div>

<p><b>Food Records: {{ (foodRecords | async)?.length }}</b></p>
<div *ngFor="let foodRecord of foodRecords | async">
  <p>{{ foodRecord.recorded }}</p>
</div>

<p><b>Mass Records: {{ (massRecords | async)?.length }}</b></p>
<div *ngFor="let massRecord of massRecords | async">
  <p>{{ massRecord.recorded }}</p>
</div>