
<app-date-range-picker
    [offset]="offset"
    [period]="period"
    (onOffsetChanged)="onOffsetChanged($event)"
    (onPeriodChanged)="onPeriodChanged($event)">
</app-date-range-picker>

<div class="chart">
  <canvas baseChart height="900" width="1600" chartType="line"
          [datasets]="chartData"
          [options]="chartOptions">
  </canvas>
</div>

<div class="stats">
  <div class="result" *ngIf="inCals != -1 && outCals != -1">
    <p>In: {{ inCals }} kCal</p>
    <p>Out: {{ outCals }} kCal</p>
  </div>
  <div *ngIf="inCals == -1 || outCals == -1">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
</div>